* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url("../assets/3d-background-concept_52683-34988.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  padding-bottom: 10rem;
}

.main {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 4rem auto;
}

.card_container {
  width: 80%;
  max-width: 300px;
  position: absolute;
  top: 100px;
  z-index: 30;
}

.payment_card {
  padding: 1rem;
  background: rgba(127, 126, 127, 0.509);
  border-radius: 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.702);
  box-shadow: inset 4px 4px 15px 0 rgba(255, 255, 255, 0.25),
    -4px -4px 15px 0 rgba(0, 0, 0, 0.125), 0 0 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(250px);
  backdrop-filter: blur(250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.card_details_one,
.card_details_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1.5rem;
}

.card_details_one {
  margin-bottom: 2.5rem;
}

.class_badge {
  width: 70px;
  height: 45px;
  border-radius: 5px;
}

.cardholder_number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.card_expiration_date {
  display: flex;
}

.card_issuer {
  width: 80px;
  height: 40px;
  object-fit: contain;
}

.card_details_two div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card_details_two p,
.form_section label {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.card_expiration {
  margin-left: auto;
}

.payment_form {
  width: 100%;
  position: relative;
  top: 120px;
  background: rgba(23, 23, 23, 0.335);
  border-radius: 15px;
  border: 1px solid hsla(159, 11, 70, 0.826);
  box-shadow: inset 4px 4px 25px 0 rgba(138, 138, 138, 0.25),
    inset -4px -4px 5px 0 rgba(138, 138, 138, 0.125),
    0 0 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(225px) saturate(50%);
  backdrop-filter: blur(225px) saturate(50%);
  padding: 2rem;
  padding-top: 11rem;
}

.form_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  gap: 0.6rem;
}

.form_section label {
  color: #ffffff;
}

.form_inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #333;
  outline: none;
  box-shadow: inset 4px 4px 50px 0 rgba(92, 91, 91, 0.25),
    -4px -4px 5px 0 rgba(0, 0, 0, 0.125);
}

.message1,
.message2,
.message3,
.message4 {
  color: crimson;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form_input_number {
  width: 60px;
}

.form_input_name {
  width: 100%;
}

.card_expiration_date_div {
  display: flex;
  gap: 1.3rem;
}

.cvv {
  margin-left: auto;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.submit_btn {
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: rgba(159, 11, 70, 0.969);
  color: #fbfbfb;
  padding: 1rem;
  border: 1px solid rgba(159, 11, 70, 0.969);
  outline: none;
  cursor: pointer;
}

.submit_btn:hover {
  border: 1px solid rgba(159, 11, 70, 0.969);
  background-color: #ffffff;
  color: rgba(159, 11, 70, 0.969);
}

.alert_box {
  background-color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  top: 24px;
  z-index: 60;
  display: none;
  color: crimson;
}

@media screen and (min-height: 740px) {
  body {
    height: 100vh;
  }
}
